extend layout
block body
  body
    h1 Hello AMP!

    h2 img
    img(src="https://d3ieicw58ybon5.cloudfront.net/full/u/58cc426560c146f596e26a187c64795b.jpg", width="376", height="250")

    ul
      li
        a(href="a.html#development=1") Prev
      li
        a(href="c.html#development=1") Next
