extend layout
block script
  script(async, custom-element="amp-anim", src="https://cdn.ampproject.org/v0/amp-anim-0.1.js")
block body
  body
    h1 Hello AMP!

    h2 Anime GIF
    amp-anim(width=500, height=281, src="./image/aritaso.gif", layout="responsive")
      amp-img(placeholder, width=500, height=281, src="./image/aritaso.jpg", layout="responsive")

    ul
      li
        a(href="i.html#development=1") Prev
      li
        a(href="k.html#development=1") Next
    div
      | ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br